.site-main {
    & section#contact.block {
        position: relative;

        & .background-parallax {
            position: absolute;
            top: -10%;
            left: 0;
            width: 100%;
            height: 120%;
            z-index: -1;
            filter: brightness(.3);
            object-fit: cover;
        }

        & .content {
            & .contact-data {
                padding: 100px 0;
                display: grid;
                grid-template-columns: 1fr;
                gap: 4rem;
                align-items: start;

                & .contact-form-wrapper {
                    position: relative;
                    overflow: hidden;
                    padding: 20px;
                    border-radius: 2rem;

                    & > *:not(.glass-reflex) {
                        position: relative;
                        z-index: 1;
                    }

                    & .title-section {
                        font-size: calc(var(--wp--preset--font-size--x-large) + 5px);
                        line-height: 1.3;
                        font-weight: 600;
                    }

                    & .subtitle-section {
                        margin-bottom: 1rem;
                    }

                    & .wpcf7 {
                        & .wpcf7-form {
                            & p:has(label) {
                                width: 100%;
                                margin-bottom: .75rem;

                                & label {
                                    width: 100%;

                                    & input,
                                    & textarea {
                                        background-color: light-dark(#ffffff1f, #0000001f);

                                        &:focus {
                                            background-color: light-dark(#ffffff4e, #0000004e);
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &:hover {
                        & .glass-reflex {
                            transform: skewX(340deg) translateX(70%);
                            filter: blur(8px); 
                        }
                    }
                }

                & .contact--list {
                    color: var(--wp--preset--color--base);

                    & > *:not(:last-child) {
                        margin-bottom: 3rem;
                    }

                    & div {
                        display: grid;
                        gap: .5rem;
                        align-items: start;

                        & h3 {
                            font-size: calc(var(--wp--preset--font-size--large) + 5px);
                            font-weight: 500;
                        }

                        & span {
                            margin-bottom: 1rem;
                        }

                        & ul {
                            padding-left: 0;
                            list-style: none;

                            & li {
                                & a {
                                    font-size: calc(var(--wp--preset--font-size--small) + .063rem);
                                    position: relative;
                                    display: flex;
                                    align-items: center;
                                    gap: .438rem;
                                    transition: color .3s ease-in-out;

                                    &::before {
                                        position: relative;
                                        content: '';
                                        display: block;
                                        width: 1rem;
                                        height: 1rem;
                                        background-color: var(--wp--preset--color--base);
                                        transition: background-color .3s ease-in-out;
                                    }

                                    &:hover {
                                        color: light-dark(var(--green--lighter), var(--green--lighter));

                                        &::before {
                                            background-color: light-dark(var(--green--lighter), var(--green--lighter)); 
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (width >= 768px) {
    .site-main {
        & section#contact.block {
            & .content {
                & .contact-data {
                    & .contact-form-wrapper {
                        padding: 2rem;
                    }
                }
            }
        }
    }
}

@media (width >= 1024px) {
    .site-main {
        & section#contact.block {
            & .content {
                & .contact-data {
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
    }
}

@media (width >= 1366px) {
    .site-main {
        & section#contact.block {
            & .content {
                & .contact-data {
                    & .contact-form-wrapper {
                        & .wpcf7 {
                            & .wpcf7-form {
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                gap: 0 20px;

                                & p:has(span[data-name=your-message]) {
                                    grid-column: 1 / -1;

                                    & label {
                                        width: 100%;

                                            & textarea {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

body.is-chromium {
    & .contact-form-wrapper {
        border-radius: 3rem !important;
        corner-shape: squircle;
    }
}