.site-main {
    & section#filter-properties.block {
        & .content {
            padding: 50px 0;
            
            & .title-section {
                text-align: center;
            }

            &.properties-min {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
                gap: 1rem;
            }
        }
    }
}