.site-main {
    & #hero.block {
        position: relative;
        height: 100dvh;
        display: grid;
        place-content: center;

        & #video-on-hero {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }

        & .content {
            padding: 50px 0;
            color: var(--wp--preset--color--base);
            text-shadow: var(--modern-text-shadow);

            & .page-title {
                font-size: calc(var(--wp--preset--font-size--xx-large) + 2dvw);
                line-height: 1.2;
            }
            
        }
    }
}