& .call-to-action {
    margin-top: 2.4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
}

@media (width < 600px) {
    & .call-to-action {
        & .go-to-properties {
            transform: translateX(-18px);
        }
    }
}

body.is-chromium {
    .go-to-contact {
        border-radius: 1rem;
        corner-shape: squircle;
    }
}