header.block.page {
    margin: 1.25rem 0 2rem;
    position: relative;
    overflow: hidden;

    & .content.heading {
        display: grid;
        
        & .page-title {
            font-size: var(--wp--preset--font-size--x-large);
            text-align: center;
            position: relative;
            padding: 1rem 2rem;
            border-radius: 1rem;
            max-width: 40.313rem;
            margin-inline: auto;
            margin-block-start: 8.988rem;
            margin-block-end: 5rem;
            /* background-color: #1c1c1c;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            color: transparent;
            text-shadow: rgba(255, 255, 255, 0.5) 0px 2px 2px; */
        }

        & .latest-modified,
        & .metadata {
            text-align: center;
            font-size: var(--wp--preset--font-size--small);
            padding: .25rem .5rem;
            border-radius: .5rem;
            margin-inline: auto;
            margin-block-start: .875rem;
            margin-block-end: .875rem;
        }
    }
}

.block {
    & .is-layout-constrained {
        padding-bottom: 2.5rem;
    }
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%; }
  100% {
    border-radius: 40% 60%; } 
}

@keyframes spin {
  to {
    transform: rotate(1turn); } 
}

@media (width < 31.25rem) {
    header.block {
        & .content {
            aspect-ratio: inherit;

            & .page-title {
                margin-top: 5rem;
                margin-bottom: 5rem;
                border-radius: 0;
            }
        }
    }
}

body.is-chromium {
    & .page-title {
        border-radius: 2rem !important;
        corner-shape: squircle !important;
    }

    & .latest-modified, 
    & .metadata {
        border-radius: 1rem !important;
        corner-shape: squircle !important;
    }
}