header.block {
    & .content {
        & > .backdrop {
            display: none;
        }

        & .wp-post-image {
            width: 100%;
            height: 120%;
            object-fit: cover;
            position: absolute;
            top: -10%;
            left: 0;
            z-index: -2;
        }

        & .page-title,
        & .latest-modified,
        & .metadata {
            position: relative;
            overflow: hidden;
            background-color: light-dark(var(--wp--preset--color--base-alpha), var(--base-alpha-dark));
            backdrop-filter: blur(10px);
            corner-shape: inherit;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

            & .backdrop {
                position: absolute;
                top: 0; left: 0; width: 100%; height: 100%;
                background-color: light-dark(var(--wp--preset--color--base-alpha), var(--base-alpha-dark));
                backdrop-filter: blur(10px);
                border-radius: inherit;
                corner-shape: inherit;
                z-index: -2;
            }

            &::before,
            &::after {
                position: absolute;
                content: '';
                top: 0; left: 0; width: 100%; height: 100%;
                border: 1px solid light-dark(hsla(0, 0%, 100%, 0.849), hsla(0, 0%, 100%, 0.849));
                mask-image: linear-gradient(135deg, light-dark(hsla(0, 0%, 100%, 0.849), hsla(0, 0%, 100%, 0.849)), light-dark(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0)) 50%);
                border-radius: inherit;
                corner-shape: inherit;
                z-index: -1;
            }

            &::after {
                top: -2px; left: -2px;
                mask-image: linear-gradient(135deg, light-dark(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0)) 76%, light-dark(hsla(0, 0%, 100%, 0.644), hsla(0, 0%, 100%, 0.644)));
            }

            & .glass-reflex {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 0.2);
                pointer-events: none;
                transform: skewX(340deg) translateX(-70%);
                transition: transform .6s ease-in-out, filter .5s ease-in-out;
                filter: blur(5px);
                z-index: -1;
            }

            &:hover {
                & .glass-reflex {
                    transform: skewX(340deg) translateX(70%);
                    filter: blur(8px);
                }
            }
        }

        & .page-title {
                background-color: transparent;
                backdrop-filter: unset;
            }
    }
}