.site-main {
    & .property {
        & header.block.property--heading {
            position: relative;
            overflow: hidden;

            & .background-header {
                position: absolute;
                top: -10%;
                left: 0;
                width: 100%;
                height: 120%;
                z-index: -2;
                opacity: .35;
            }

            &::before {
                position: absolute;
                content: '';
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background-color: light-dark(var(--wp--preset--color--base-alpha), var(--base-alpha-dark));
                backdrop-filter: blur(7px);
            }

            & .content {
                padding: 50px 0;
                display: grid;
                grid-template-columns: 1fr 1fr;

                & .property-data--wrapper {
                    position: relative;
                    padding: 30px;
                    z-index: 1;

                    &:before {
                        position: absolute;
                        content: '';
                        top: 0;
                        right: -30px;
                        width: 200dvw;
                        height: 100%;
                        transform: skewX(-5deg);
                        background-color: light-dark(var(--wp--preset--color--base-alpha), var(--base-alpha-dark));
                        backdrop-filter: blur(10px);
                        border: 1px solid light-dark(var(--wp--preset--color--accent-6), var(--wp--preset--color--accent-6));
                        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                        z-index: -1;
                        border-radius: 8px;
                    }

                    & .property-title {
                        /* text-transform: lowercase;
                        
                        &::first-letter {
                            text-transform: capitalize;
                        } */
                    }

                    & .property--operation {

                    }

                    & .property--price {
                        margin-block-start: 3rem;
                        margin-block-end: 1rem;
                    }

                    & .property--metadata {
                        display: grid;
                        grid-template-columns: auto 1fr;

                        & .property--map {
                            margin: 7px 0;
                            min-width: 250px;
                            position: relative;
                            overflow: hidden;
                            border-radius: 8px;
                            z-index: 1;
                            border: 1px solid light-dark(var(--wp--preset--color--accent-6), var(--wp--preset--color--accent-6));

                            & iframe {
                                width: 100%;
                                height: 100%;
                                display: block;
                            }
                        }

                        & .property---metadata--list {
                            padding-left: 40px;
                            list-style: none;

                            & li {
                                padding: 20px 0;

                                &:first-child {
                                    padding-top: 0;
                                }

                                &:not(:last-child) {
                                    border-bottom: 2px dashed light-dark(var(--wp--preset--color--accent-6), var(--wp--preset--color--accent-6));
                                }

                                &:last-child {
                                    padding-bottom: 0;
                                }

                                & svg {
                                    margin-right: 6px;
                                }

                                &.bedroom {
                                    & svg {
                                        width: 20px;
                                        height: 20px;
                                        position: relative;
                                        top: 4px;
                                    }
                                }

                                &.parking {
                                    & svg {
                                        width: 22px;
                                        height: 22px;
                                        position: relative;
                                        top: 4px;
                                    }
                                }

                                &.lot {
                                    & svg {
                                        position: relative;
                                        top: 1px;
                                    }
                                }
                            }
                        }
                    }
                }

                & .property--big-image--wrapper {
                    padding: 30px 0;
                    z-index: 0;

                    & .property--big-image {
                        position: relative;
                        width: 120%;
                        height: 100%;
                        border-radius: 8px;
                        transform: translateX(-17%);
                        overflow-y: hidden;

                        & .wp-post-image {
                            width: 120%;
                            height: 120%;
                            top: -10%;
                            left: unset;
                            right: 0;
                        }
                    }
                }
            }
        }

        & .block.property--details {
            padding: 50px 0 0;
            background-color: light-dark(var(--wp--preset--color--secondary), var(--secondary-dark));
            display: grid;
            gap: 50px;

            & .content:has(.title-section) {
                .title-section {
                    font-size: var(--wp--preset--font-size--xx-large);
                    text-transform: uppercase;
                    margin-left: auto;
                    max-width: 50%;
                    text-align: right;
                }
            }

            & .content.details {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 50px;

                & .property--metadata {
                    display: grid;
                    gap: 30px;
                    align-items: start;

                    & .property--metadata--list {
                        font-size: var(--wp--preset--font-size--small);
                        padding-left: 0;
                        list-style: none;
                        display: grid;
                        gap: 10px;
                        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

                        & li {
                            position: relative;
                            background-color: light-dark(var(--wp--preset--color--base), var(--base-dark));
                            display: grid;
                            place-content: end;
                            height: 70px;
                            padding: 1rem;
                            text-align: right;
                            border-radius: 8px;
                            box-shadow: rgba(0, 0, 0, 0.025) 0px 2px 4px, rgba(0, 0, 0, 0.015) 0px 7px 13px -3px, rgba(0, 0, 0, 0.1) 0px -2px 0px inset;

                            & svg {
                                position: absolute;
                                top: 1rem;
                                left: 1rem;
                            }
                        }
                    }
                }
                
                .property-gallery {
                    display: flex;
                    flex-direction: column;
                }

                /* Imagen principal */
                .property-gallery--main img {
                    width: 100%;
                    aspect-ratio: 16 / 9;
                    border-radius: 8px;
                    object-fit: cover;
                }

                /* Contenedor de las miniaturas */
                .property-gallery--thumbs-wrapper {
                    position: relative;
                    transform: translateX(-20px);
                    display: flex;
                    align-items: center;
                    padding: 20px;
                    width: calc(100% + 60px);
                    overflow: hidden;

                    &::after {
                        position: absolute;
                        content: '';
                        top: 0;
                        right: 0;
                        width: 30px;
                        height: 100%;
                        background-color: light-dark(var(--wp--preset--color--secondary), var(--secondary-dark));
                    }

                    /* Carrusel */
                    & .property-gallery--thumbs {
                        display: flex;
                        transition: transform 0.4s ease;
                        will-change: transform;
                        flex: 1;

                        & img {
                            width: calc(100% / 3 - 20px);
                            aspect-ratio: 4 / 3;
                            object-fit: cover;
                            border-radius: 8px;
                            cursor: pointer;
                            margin-right: 20px;
                            transition: box-shadow .3s ease;
                            flex-shrink: 0;

                            &.active {
                                box-shadow: 0 0 0 .4rem var(--wp--preset--color--green-alpha);

                                &:hover {
                                    box-shadow: 0 0 0 .4rem var(--wp--preset--color--green-alpha);
                                }
                            }

                            &:hover {
                                box-shadow: 0 0 0 .4rem var(--green--lighter-plus);
                            }
                        }
                    }

                    /* Botones */
                    & .thumbs-btn {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: light-dark(var(--wp--preset--color--base-alpha), var(--base-alpha-dark));
                        backdrop-filter: blur(7px);
                        cursor: pointer;
                        place-content: center;
                        z-index: 5;
                        width: 46px;
                        height: 46px;
                        padding: 0;
                        transition: background-color 0.2s ease, backdrop-filter .2s ease, color .2s ease;

                        &.prev { left: 25px; }
                        &.next { right: 44px; }

                        &:hover {
                            background-color: transparent;
                            backdrop-filter: none;
                            color: #fff;
                        }
                    }
                }

                & .is-layout-constrained {
                    font-size: var(--wp--preset--font-size--small);
                }
            }
        }

        & .block.related.properties {
            padding: 50px 0;
            background-color: light-dark(var(--wp--preset--color--secondary), var(--secondary-dark));

            & .content:has(h2.title-section) {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 2rem;
                flex-wrap: wrap;

                h2.title-section {
                    font-size: var(--wp--preset--font-size--x-large);
                    text-transform: uppercase;

                    & span {
                        opacity: .4;
                    }
                }

                & .slideshow-buttons {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    & .slideshow-button {
                        display: grid;
                        place-content: center;
                        width: 46px;
                        height: 46px;
                        border: none;
                        background-color: light-dark(var(--wp--preset--color--base), var(--secondary-dark));
                        transition: background-color .2s ease;

                        &:hover {
                            background-color: light-dark(var(--green--lighter-plus), var(--wp--preset--color--green));
                        }
                    }
                }
            }

            & .content.slideshow--related-properties--wrapper {
                position: relative;
                transform: translateY(0);
                transition: opacity 0.3s ease, transform .3s ease;
                visibility: visible;
                opacity: 1;

                & .slideshow--related-properties {
                    width: calc(100svw - 40px);
                    position: relative;
                    overflow: hidden;

                    & .related-properties--list {
                        display: grid;
                        width: 800%;
                        grid-template-columns: repeat(8, 1fr);

                        & .property {
                            position: relative;
                            z-index: 0;
                            display: grid;
                            grid-template-rows: auto 1fr;
                            font-size: var(--wp--preset--font-size--small);
                            border-radius: 8px;
                            overflow: hidden;

                            & .property--header {
                                position: relative;
                                aspect-ratio: 4 / 3;
                                overflow: hidden;
                                border-radius: 8px 8px 0 0;
                                padding: 10px;

                                & .wp-post-image {
                                    position: absolute;
                                    top: 50%; left: 50%; transform: translate(-50%, -50%);
                                    width: 100%;
                                    aspect-ratio: 1 / 1;
                                    z-index: -2;
                                    transition: transform .3s ease-in-out, filter .3s ease-in-out;
                                }

                                &::before,
                                &::after {
                                    position: absolute;
                                    content: '';
                                    top: 0; left: 0; width: 100%; height: 100%;
                                    border: 1px solid light-dark(hsla(0, 0%, 100%, 0.849), hsla(0, 0%, 100%, 0.849));
                                    mask-image: linear-gradient(135deg, light-dark(hsla(0, 0%, 100%, 0.849), hsla(0, 0%, 100%, 0.849)), light-dark(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0)) 50%);
                                    border-radius: inherit;
                                    corner-shape: inherit;
                                    z-index: -1;
                                }

                                &::after {
                                    mask-image: linear-gradient(135deg, light-dark(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0)) 76%, light-dark(hsla(0, 0%, 100%, 0.644), hsla(0, 0%, 100%, 0.644)));
                                }

                                & .glass-reflex {
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    background: rgba(255, 255, 255, 0.1);
                                    pointer-events: none;
                                    transform: skewX(340deg) translateX(-70%);
                                    transition: transform .6s ease-in-out, filter .5s ease-in-out;
                                    filter: blur(5px);
                                    z-index: 0;
                                }
                            }

                            & .property--body {
                                display: grid;
                                grid-template-rows: 1fr auto;
                                background-color: light-dark(var(--wp--preset--color--base), var(--base-dark));
                                padding: 20px;

                                & .property--body--heading {
                                    display: grid;
                                    grid-template-rows: 1fr auto;
                                    padding-bottom: 10px;
                                    
                                    & .property--permalink {
                                        transition: color .3s ease-in-out;

                                        & .property--title {
                                            text-transform: lowercase;
                                            font-size: var(--wp--preset--font-size--large);
                                            font-weight: 600;
                                            
                                            &::first-letter {
                                                text-transform: capitalize;
                                            }
                                        }

                                        &:hover {
                                            color: light-dark(var(--green--lighter), var(--wp--preset--color--green));
                                        }
                                    }

                                    & .location {
                                        & svg {
                                            margin-right: 10px;
                                            position: relative;
                                            top: 3px;
                                        }
                                    }
                                }

                                & .property--metadata {
                                    display: grid;
                                    gap: 0 20px;
                                    align-items: end;
                                    grid-template-columns: 1fr auto;
                                    grid-template-rows: 1fr 1fr;
                                    padding-top: 10px;
                                    border-top: 2px dashed var(--wp--preset--color--accent-6);
                                    
                                    & ul {
                                        padding-left: 0;
                                        list-style: none;
                                        display: flex;
                                        align-items: baseline;
                                        gap: 13px;
                                        
                                        & li {
                                            display: inline-flex;
                                            align-items: baseline;
                                            gap: 5px;

                                            &.lot {
                                                & svg {
                                                    position: relative;
                                                    top: 2px;
                                                }
                                            }

                                            &.bedroom {
                                                & svg {
                                                    position: relative;
                                                    top: 4px;
                                                }
                                            }
                                        }

                                        &:nth-child(1) {
                                            grid-row: 1 / 2;
                                        }

                                        &:nth-child(2) {
                                            grid-row: 2 / 3;
                                        }
                                    }

                                    & .price {
                                        position: relative;
                                        top: 2px;
                                        grid-column: 2 / 3;
                                        grid-row: 1 / 3;

                                        & h3 {
                                            font-weight: 600;
                                        }
                                    }
                                }
                            }

                            &:hover {
                                & .property--header {
                                    & .wp-post-image {
                                        transform: translate(-50%, -50%) scale(1.1);
                                        filter: brightness(1.1);
                                    }

                                    & .glass-reflex {
                                        transform: skewX(340deg) translateX(70%);
                                        filter: blur(8px);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        & .block.contact {
            position: relative;
            overflow: hidden;

            & .background-contact {
                position: absolute;
                top: -10%;
                left: 0;
                width: 100%;
                height: 120%;
                z-index: -2;
                filter: brightness(.3);
            }

            & .content {
                padding: 100px 0;
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                gap: 50px;

                & > :first-child {
                    background-color: light-dark(var(--wp--preset--color--base), var(--base-dark));
                    padding: 30px;
                    border-radius: 8px;

                    & .title-section {
                        font-size: var(--wp--preset--font-size--x-large);
                    }

                    & p {
                        font-size: var(--wp--preset--font-size--small);
                        margin-bottom: 1.2rem;
                    }

                    & .wpcf7-form {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 0 20px;

                        & p:has(span[data-name=your-message]) {
                            grid-column: 1 / -1;

                            & label {
                                width: 100%;

                                    & textarea {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }

                & > :nth-child(2) {
                    color: var(--wp--preset--color--base);

                    & > *:not(span,:last-child) {
                        margin-bottom: 1.2rem;
                    }

                    & span {
                        font-weight: var(--wp--preset--font-size--small);
                        color: var(--green--lighter);
                    }

                    & .title-section {
                        font-size: var(--wp--preset--font-size--xx-large);
                    }

                    & > p {
                        font-size: var(--wp--preset--font-size--small);
                        color: #999;
                    }

                    & div:has(.badge) {
                        display: grid;
                        gap: 0 20px;
                        grid-template-columns: 70px 1fr;
                        grid-template-rows: auto auto;

                        & .badge {
                            position: relative;
                            top: 5px;
                            display: grid;
                            width: 70px;
                            height: 70px;
                            place-content: center;
                            grid-column: 1 / 2;
                            grid-row: 1 / 3;
                            border-radius: 8px;
                            background-color: #ffffff3a;
                            backdrop-filter: blur(7px);

                            &::before,
                            &::after {
                                position: absolute;
                                content: '';
                                top: 0; left: 0; width: 100%; height: 100%;
                                border: 1px solid light-dark(hsla(0, 0%, 100%, 0.849), hsla(0, 0%, 100%, 0.849));
                                mask-image: linear-gradient(135deg, light-dark(hsla(0, 0%, 100%, 0.849), hsla(0, 0%, 100%, 0.849)), light-dark(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0)) 50%);
                                border-radius: inherit;
                                corner-shape: inherit;
                                z-index: -1;
                            }

                            &::after {
                                mask-image: linear-gradient(135deg, light-dark(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0)) 76%, light-dark(hsla(0, 0%, 100%, 0.644), hsla(0, 0%, 100%, 0.644)));
                            }
                        }

                        & h3 {
                            grid-column: 2 / 3;
                            grid-row: 1 / 2;
                        }

                        & p {
                            font-size: var(--wp--preset--font-size--small);
                            color: #999;
                            grid-column: 2 / 3;
                            grid-row: 2 / 3;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .property-gallery {
        flex-direction: row;
    }

    .property-gallery--main {
        flex: 3;
    }

    .property-gallery--thumbs {
        flex: 1;
        grid-template-columns: 1fr;
        grid-auto-rows: 80px;
    }

    .property-gallery--thumbs img {
        width: calc(100% / 4 - 20px) !important;
    }

    .site-main {
        & .property {
            & .block.related.properties {
                & .content.slideshow--related-properties--wrapper {
                    width: var(--max-width--content);

                    & .slideshow--related-properties {
                        width: calc(var(--max-width--content) + 38px);

                        & .related-properties--list {
                            width: 409%;

                            & .property {
                                width: calc(100% - 14px);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (width < 42.813rem) {
    & .site-main {
        .property {
            & .block {
                & .is-layout-constrained {
                    > *:not(.wp-block-separator) {
                        margin-left: 0!important;
                        margin-right: 0 !important;
                    }
                }
            }

            & .block.property--details {
                & .content.details {
                    & .property-gallery {
                        overflow: hidden;
                    }
                }
            }

            & .block.contact {
                & .content {
                    & > :first-child {
                        & .wpcf7-form {
                            grid-template-columns: 1fr;
                        }
                    }
                }
            }
        }
    }
}

@media(width < 1023px) {
    .site-main {
        & .property {
            & header.block.property--heading {
                grid-template-columns: 1fr;

                &::before {
                    content: none;
                }

                & .background-header {
                    display: none;
                }

                & .content {
                    grid-template-columns: 1fr;

                    & .property-data--wrapper {
                        padding: 30px 0;

                        &::before {
                            background: light-dark(var(--wp--preset--color--secondary), var(--secondary-dark));
                        }

                        & .property--metadata {
                            grid-template-columns: 1fr;

                            & .property--map {
                                aspect-ratio: 1 / 1;
                            }

                            & .property---metadata--list {
                                padding: 0;
                                padding-top: 30px;
                                padding-right: 30px;
                            }
                        }
                    }

                    & .property--big-image--wrapper {
                        & .property--big-image {
                            width: 100%;
                            transform: unset;
                            aspect-ratio: 1 / 1;

                            & .wp-post-image {
                                top: 0;
                                height: 100%;
                                width: 100%;
                            }
                        }
                    }
                }
                
            }

            & .block.property--details {
                & .content:has(.title-section) {
                    .title-section {
                        max-width: 90%;
                    }
                }
            }

            & .block.contact {
                & .content {
                    grid-template-columns: 1fr;
                }
            }

            & .block.property--details {
                & .content.details {
                    grid-template-columns: 1fr;

                    & .property-gallery--main {
                        & img {
                            aspect-ratio: 4 / 3;
                        }
                    }
                }
            }
        }
    }
}

@media(width >= 1024px) {
    .site-main {
        .property {
            & .block.related.properties {
                & .content.slideshow--related-properties--wrapper {
                    & .slideshow--related-properties {
                        & .related-properties--list {
                            width: 270%;
                        }
                    }
                }
            }
        }
    }
}

@media(width >= 1366px) {
    .site-main {
        .property {
            & .block.related.properties {
                & .content.slideshow--related-properties--wrapper {
                    & .slideshow--related-properties {
                        & .related-properties--list {
                            width: 202%;
                        }
                    }
                }
            }
        }
    }
}

body.property-template-default.is-chromium {
    & .site-main {
        & .property {
            & .block.property--details {
                & .content.details {
                    .property-gallery--main img {
                        border-radius: 1.2rem !important;
                        corner-shape: squircle;
                    }
                }

                & .property-gallery--thumbs-wrapper {
                    & .property-gallery--thumbs {
                        & img {
                            border-radius: 1.2rem !important;
                            corner-shape: squircle;
                        }
                    }
                }
            }

            & .block.contact {
                & .content {
                    & > :first-child {
                        border-radius: 1.2rem !important;
                        corner-shape: squircle;
                    }

                    & > :nth-child(2) {
                        & div:has(.badge) {
                            & .badge {
                                border-radius: 1.2rem !important;
                                corner-shape: squircle;
                            }
                        }
                    }
                }
            }
        }
    }
}