.post {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 10px;
    border: 1px solid light-dark(var(--wp--preset--color--border-line), var(--wp--preset--color--border-line-dark));
    border-radius: 1rem;
    font-size: var(--wp--preset--font-size--small);

    & .post--header {
        aspect-ratio: 4 / 3;
        position: relative;
        overflow: hidden;
        border-radius: .6rem;
        display: grid;
        place-content: end;
        padding: 1rem;

        & .wp-post-image {
            width: 100%;
            object-fit: cover;
            position: absolute;
            top: 50%; left: 50%; transform: translate(-50%, -50%);
            z-index: -1;
        }

        &:hover {
            & .glass-reflex {
                transform: skewX(340deg) translateX(70%);
                filter: blur(8px);
            }
        }

        & .tags {
            z-index: 1;
            display: inline-flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 3px;
        }
    }

    & .post--body {
        display: grid;
        grid-template-rows: 1fr auto;
        & .post--body__header {
            display: grid;
            padding: 1rem 0;
            border-bottom: 1px dashed light-dark(var(--wp--preset--color--border-line), var(--wp--preset--color--border-line-dark));

            & .post--permalink {
                transition: color .3s ease;

                & .post--title {
                    font-size: var(--wp--preset--font-size--medium);
                    font-weight: 600;
                }

                &:hover {
                    color: var(--wp--preset--color--main);
                }
            }

            & > p {
                margin-top: .5rem;
                align-self: end;
                font-size: var(--wp--preset--font-size--small);
                opacity: .7;
            }
        }

        & .post--metadata {
            padding-top: 1rem;
            display: grid;
            align-items: end;
            grid-template-columns: 1fr auto;
            grid-template-rows: 1fr 1fr;

            & ul {
                padding-left: 0;
                list-style: none;
                display: flex;
                flex-wrap: nowrap;
                gap: 1rem;
                align-items: end;

                &.rooms {
                    grid-row: 1 / 2;
                }

                &.sizes {
                    grid-row: 2 / 3;
                }

                & li {
                    & svg {
                        position: relative;
                        margin-right: .438rem;
                    }

                    &.bedroom {
                        & svg {
                            top: 3px;
                        }
                    }

                    &.lot {
                        & svg {
                            top: 2px;
                        }
                    }
                }
            }

            & .price {
                grid-column: 2 / 3;
                grid-row: 1 / 3;
                position: relative;
                top: 3px;

                & h3 {
                    font-size: var(--wp--preset--font-size--large);
                    font-weight: 600;
                }
            }
        }

        & .post--tags {
            padding-top: 1rem;
        }
    }
}

.glass-bright {
    position: relative;

    &::before,
    &::after {
        position: absolute;
        content: '';
        top: 0; left: 0; width: 100%; height: 100%;
        border: 1px solid light-dark(hsla(0, 0%, 100%, 0.849), hsla(0, 0%, 100%, 0.849));
        mask-image: linear-gradient(135deg, light-dark(hsla(0, 0%, 100%, 0.849), hsla(0, 0%, 100%, 0.849)), light-dark(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0)) 50%);
        mask-position: 0 0;
        transition: mask-position .5s ease;
        border-radius: inherit;
        corner-shape: inherit;
        z-index: 0;
    }

    &::after {
        mask-image: linear-gradient(135deg, light-dark(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0)) 76%, light-dark(hsla(0, 0%, 100%, 0.644), hsla(0, 0%, 100%, 0.644)));
    }
}

.glass-reflex {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
    transform: skewX(340deg) translateX(-70%);
    transition: transform .6s ease-in-out, filter .5s ease-in-out;
    filter: blur(5px);
    z-index: 0;

    &:hover {
        transform: skewX(340deg) translateX(70%);
        filter: blur(8px);
    }
}

.tag-type {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: .438rem;
    height: 26px;
    border: 1px solid light-dark(var(--wp--preset--color--border-line), var(--wp--preset--color--border-line-dark));
    transition: border-color .3s ease, box-shadow .3s ease;    
    padding: 0 .7rem;
    border-radius: 6px;

    &.glass-backdrop {
        border-width: 0;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px, rgba(0, 0, 0, 0.15) 0px 7px 13px -3px;
    }

    &.small-text {
        font-size: var(--wp--preset--font-size--small);

        & svg {
            width: 13px;
            height: 13px;
        }
    }

    &.type {
        & svg {
            width: 18px;
            height: 18px;
        }
    }

    &:hover {
        border-color: var(--main--lighter);
        box-shadow: var(--form-shadow);
        z-index: 1;
    }

    &:active {
        transform: translate(1px, 1px);
    }
}

.glass-backdrop {
    background-color: light-dark(var(--wp--preset--color--base-alpha), var(--base-alpha-dark)) !important;
    backdrop-filter: blur(10px);
}

.btn-pagination {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: grid;
    place-content: center;
    width: 64px;
    height: 64px;
    border: none;
    border-radius: 1rem;
    position: relative;
    transition: background-color .3s ease;
    background-color: transparent;

    &.small-pagination {
        width: 46px;
        height: 46px;
        border-radius: .5rem;

        & svg {
            width: 24px;
            height: 24px;
        }
    }

    &:hover {
        cursor: pointer;
        background-color: var(--main--lighter-plus);
    }

    & svg {
        transition: fill .3s ease;
        fill: light-dark(var(--wp--preset--color--contrast), var(--wp--preset--color--base));
    }

    &.glass-backdrop {
        background-color: transparent !important;

        & svg {
            fill: var(--wp--preset--color--base);
        }

        &:hover {
            background-color: light-dark(var(--wp--preset--color--base-alpha), var(--base-alpha-dark)) !important;

            & svg {
                fill: light-dark(var(--wp--preset--color--contrast), var(--contrast-dark));
            }
        }
    }

    &:active {
        transform: translate(1px, 1px);
    }
}

body.is-chromium {
    & .post {
        border-radius: 2rem;
        corner-shape: squircle;

        & header.post--header {
            border-radius: 1rem;
            corner-shape: squircle;
        }

        & .post--body {
            & .post--tags {
                & .tag-type {
                    border-radius: 1rem;
                }
            }
        }
    }

    & .tag-type {
        border-radius: 1rem;
        corner-shape: squircle;
    }

    & .btn-pagination {
        border-radius: 2rem;
        corner-shape: squircle;

        &.small-pagination {
            border-radius: 1rem;
        }
    }
}